<div class="modal-header">
    <h4 class="modal-title">Score Table Challenge {{challenge.typeTitle}}</h4>
</div>
<div class="modal-body">
    <mat-tab-group class="tab-group">
        <mat-tab *ngFor = 'let level of optionLevels' label="{{level}}">
            <div class="tab-content">
                <mat-table #table [dataSource]="getChallengeResultsDsByLevel(level)">
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="user">
                        <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.user}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="totalTimeFormatted">
                        <mat-header-cell *matHeaderCellDef> Score in Time </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.totalTimeFormatted}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="totalCorrectAnswers">
                        <mat-header-cell *matHeaderCellDef> Correct Answers </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.totalCorrectAnswers}} / {{element.totalAnswers}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="level">
                        <mat-header-cell *matHeaderCellDef> Level </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.level}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
<div class="modal-footer">
    <button mat-button (click)="goBack()">Return</button>
</div>