<ng-container *ngIf="challengeType == 'BUILD_SENTENCE';then build_sentence else second"></ng-container>

<ng-template #second>
    <ng-container *ngIf="challengeType == 'TRANSLATE_WORD'; then translate_word else other_challenge"></ng-container>
</ng-template>

<ng-template #build_sentence>
<mat-card (mouseenter) ="onWord = true" (mouseleave) ="onWord = false">
    <mat-card-title><mat-icon>{{word.icon}}</mat-icon>{{word.typeTitle}}</mat-card-title>
    <mat-card-content [style.backgroundColor]="word.color" [style.color]="'white'">
      <p>{{selectedWord.wordTranslate | lowercase }}</p>
    </mat-card-content>
    <mat-card-content *ngIf="onWord" [style.backgroundColor]="'#78909C'" [style.color]="'white'">
        <p>{{selectedWord.word | lowercase }}</p>
        <a (click) = "playWordSound(selectedWord.word)"><mat-icon>volume_up</mat-icon></a>
    </mat-card-content>
</mat-card>
</ng-template>

<ng-template #translate_word>
<mat-card>
    <mat-card-title><mat-icon>{{word.icon}}</mat-icon>{{word.typeTitle}}</mat-card-title>
    <mat-card-content [style.backgroundColor]="word.color" [style.color]="'white'">
      <p>{{selectedWord.word | lowercase }}</p>
    </mat-card-content>
    <mat-form-field class="digitWord">
        <input [readonly]="isChecked" matInput type="text" placeholder="Word Translate" [(ngModel)]="digitWord" (keyup.enter)= "checkWord()">
    </mat-form-field>
    <div *ngIf ="wordState == WORD_STATE.INVALID">
        <p class="text-danger">The correct traslation is <b>{{selectedWord.wordTranslate | lowercase }}</b></p>
    </div>
    <div *ngIf ="wordState == WORD_STATE.ALMOST_VALID">
        <p class="text-success">The word is almost valid, the correct traslation is <b>{{selectedWord.wordTranslate | lowercase }}</b></p>
    </div>
    <div *ngIf ="wordState == WORD_STATE.VALID">
        <p class="text-success">The traslation is correct!</p>
    </div>
</mat-card>
</ng-template>

<ng-template #other_challenge>
<mat-card (mouseenter) ="onWord = true" (mouseleave) ="onWord = false">
    <mat-card-title><mat-icon>{{word.icon}}</mat-icon>{{word.typeTitle}}</mat-card-title>
    <mat-card-content [style.backgroundColor]="word.color" [style.color]="'white'">
      <p>{{selectedWord.wordTranslate | lowercase }}</p>
    </mat-card-content>
    <mat-card-content *ngIf="onWord" [style.backgroundColor]="'#78909C'" [style.color]="'white'">
        <p>{{selectedWord.word | lowercase }}</p>
        <a (click) = "playWordSound(selectedWord.word)"><mat-icon>volume_up</mat-icon></a>
    </mat-card-content>
</mat-card>
</ng-template>
